body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: auto;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}

main .container-2 {
  margin-bottom: 20px;
  clear: both;
}

main p {
  margin: 0;
}

.column-left, .column-center, .column-right {  
  width: 275px;
}
.column-left {
  float: left;
}

.column-center {
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;

}

.column-right {
  float: right;
}